<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Home Page</title>
    <link rel="icon" href="/static/data/favicon.png">
    <link rel="stylesheet" href="static/css/styletest.css"/>
    <script src="static/js/test.js"></script>
    <script src="static/js/svg-inject.min.js"></script>
</head>
<body>
   <main>
       <div class="mobile_center">
       <header class="mobile__header">  

        <a href="/mobile_home"class="mobile__home__link">
        <img class="mobile__logo__img" src="/static/data/logo_svg.svg" 
            onload="SVGInject(this)" alt="Nick Aldred's Logo"/></a>
 

       </header>

       <section class="mobile__home">
           <img class="mobile__me" src="static/data/home_page/me.png">
           <h2 class="mobile__heading">Hi, I'm Nick!</h3>
           <p class="mobile__p">
            Aspiring Software Engineer currently undertaking a Masters's Degree 
            in Computer Science at Keele University with experience in Python, 
            JavaScript, C, CSS, HTML, Arduino, MATLAB, SQL, VB.net. I earned my 
            Bachelor's Degree in Electronic Engineering.

           </p>

           <p class="mobile__p">For the full experience, please view this website on a PC</p>

       </section>
        </div>
       <footer class="mobile__footer">
_
        <a href="/mobile_home"class="mobile__home__link">
        <img class="mobile__footer__logo__img" src="/static/data/logo_svg.svg" 
        onload="SVGInject(this)" alt="Nick Aldred's Logo"/></a>
        </div>

        <nav class="mobile__footer__nav">
            <ul class="footer__nav__list">
                <li class="mobile__page__link">
                <a href="/cv" class="mobile__link">CV</a></li>

                <li class="mobile__page__link">
                <a href="/mobile_about_me" class="mobile__link">About me</a></li>
            </ul>
        


        <ul class="mobile__footer__social__links">
            <li class="mobile__footer__social__item">
            <a href="mailto:hello@nickaldred.com" class="mobile__footer__link">
            <img class="mobile__footer__social__logo" src="/static/data/email.svg" 
            onload="SVGInject(this)" alt="Picture of email logo"></a>

            <li class="mobile__footer__social__item"><a href="/linkedin" 
            class="mobile__footer__link"><img class="mobile__footer__social__logo" 
            src="/static/data/linked_in.svg" onload="SVGInject(this)" 
            alt="Picture of Linked in logo"></a>

            <li class="mobile__footer__social__item">
            <a href="/github" class="mobile__footer__link">
            <img class="mobile__footer__social__logo" src="/static/data/github.svg" 
            onload="SVGInject(this)" alt="Picture of Github logo"></a>
        </ul>

        </nav>



       </footer>

   </main>

    
</body>
</html>